<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock title %}  Help Me</title>
    <meta name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

    {% include 'base/stylesheets.html' %}
  </head>
  <body class="d-flex flex-column min-vh-100">
    {% if not dont_show_navbar %}
      {% include 'base/navbar.html' %}
    {% endif %}

    <div class="container flex-grow-1 mb-5" >
      {% block content %}
      {% endblock content %}
    </div>
    <div>
      {% include 'base/footer.html' %}
    </div>
    {% include 'base/scripts.html' %}
  </body>
</html>
