{% extends 'base/base.html' %}
{% block content %}
    <h1>Welcome to the Homepage</h1>

    <!-- Search Bar -->
    {% comment %} <form method="GET">
        <input type="text" name="q" placeholder="Search by title or tag" value="{{ query }}">
        <button type="submit">Search</button>
    </form> {% endcomment %}

    {% if search_results %}
        <h2>Search Results</h2>
        <ul>
            {% for project in search_results %}
                <li><a href="#">{{ project.title }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}

    <!-- Slider for Top 5 Highest-Rated Running Projects -->
    {% if highest_rated_projects %}
        <h2>Top Rated Projects</h2>
        <div class="slider">
            {% for project in highest_rated_projects %}
                <div>
                    <img src="https://via.placeholder.com/200x150" alt="{{ project.title }}">
                    <p>{{ project.title }} - Rating: {{ project.average_rating }}</p>
                </div>
            {% endfor %}
        </div>
    {% endif %}
    {% if highest_donated_projects %}
        <h2>Top Donated Projects</h2>
        <div class="d-flex gap-4">
            {% for project in highest_donated_projects %}
                <div>
                    <img src="https://via.placeholder.com/200x150" alt="{{ project.title }}">
                    <p>Project : {{ project.title }}</p>
                    <p> Donation: {{ project.total_donation }}</p>
                </div>
            {% endfor %}
        </div>
    {% endif %}
    <!-- Latest 5 Projects -->
    <h2>Latest Projects</h2>
    <ul>
        {% for project in latest_projects %}
            <li><a href="#">{{ project.title }}</a></li>
        {% endfor %}
    </ul>

    <!-- Featured 5 Projects -->
    <h2>Featured Projects</h2>
    <ul>
        {% for project in featured_projects %}
            <li><a href="#">{{ project.title }}</a></li>
        {% endfor %}
    </ul>

    <!-- Categories List -->
    {% comment %} <h2>Categories</h2>
    <ul>
        {% for category in categories %}
            <li><a href="#">{{ category.name }}</a></li>
        {% endfor %}
    </ul> {% endcomment %}
{% endblock %}