{% extends 'base/base.html' %}
{% block content %}
  <h2>User List</h2>

  <table>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Actions</th>
    </tr>
    {% for user in users %}
      <tr>
        <td>{{ user.first_name }} {{ user.last_name }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.mobile_phone }}</td>
        <td>
          <a href="{% url 'user_update' user.id %}">Edit</a> |
          <a href="{% url 'user_delete' user.id %}">Delete</a>
        </td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}
